.form {
    position: relative;

    .form-content {
        margin: 12px 0;

        input {
            font-family: $poppins-r;
            font-size: 1rem;
            padding: 6px 20px 9px;
            color: #aaa;
            border: 1px solid #ccc;
            position: relative;
            margin: 0 40px;

            &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: #000;
            }


            &:last-child {
                margin-right: 0;
            }
    
            &::placeholder {
                color: #ccc;
            }
    
        }

    }

}